/node_modules
/.pnp
.pnp.js

/coverage

/build
/dist

.DS_Store
.vscode

.env
.env.locale
.env.development.locale
.env.test.locale
.env.production.locale

npm-debug.log*
yarn-debug.log*
yarn-error.log*